<div class="border rounded-lg p-4 shadow-sm bg-white dark:bg-gray-800">
  <div class="font-bold text-xl mb-2 text-surface-900 dark:text-white">
    Administración de Usuarios
  </div>
  <div class="text-sm text-gray-500 mb-6">
    Agrega, edita y gestiona a los usuarios del sistema
  </div>

  <button (click)="agregarUsuario()" class="bg-slate-900 py-3 px-5 mr-2 font-bold rounded-lg text-white">Agregar usuario</button>
  <button (click)="solicitudDeRegistro()" class="border font-bold px-5 py-3 rounded-lg text-black">Solicitud de registro</button>
</div>
