<div class="card flex justify-center">
  <p-dialog header="Asociar Code Smell a Incidencia" [visible]="visibleModalAsociarCodeSmell()"
    (visibleChange)="visibleModalAsociarCodeSmell.set($event)" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '30vw' }" [draggable]="false"
    >
    <div class="flex items-center gap-4 mb-4">
      <label for="titulo" class="font-semibold w-36">Buscar</label>
      <input id="titulo" type="text" pInputText class="flex-auto" autocomplete="off" />
    </div>
    <div class="mb-8">
      <label for="descripcion" class="font-semibold w-24">Descripción</label>
      <textarea id="descripcion" rows="5" cols="30" pTextarea class="w-full mt-4 dark:bg-white"></textarea>
    </div>

        <div class="flex w-full justify-end">
      <!-- <button pButton type="button" label="Cancelar" class="p-button-text mr-2"
        (click)="visibleModalNuevoCodeSmell.set(false)"></button>
      <button pButton type="button" label="Guardar" icon="pi pi-check"></button> -->
      <p-button class="mr-3" (click)="visibleModalAsociarCodeSmell.set(false)" label="Cancelar" />
      <p-button class="mr-3"  label="Guardar" />
    </div>
  </p-dialog>
</div>
