<form [formGroup]="formulario" class="card p-6 space-y-6">
  <div class="text-xl font-semibold text-primary mb-2">Nueva Incidencia</div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="flex flex-col">
      <label for="titulo" class="font-medium text-color mb-1">Título</label>
      <input id="titulo" pInputText formControlName="titulo" class="w-full" />
    </div>

    <div class="flex flex-col">
      <label for="prioridad" class="font-medium text-color mb-1">Prioridad</label>
      <p-select id="prioridad" [options]="opcionesPrioridad" optionLabel="label" formControlName="prioridad"
        placeholder="Seleccione" class="w-full" />
    </div>

    <div class="flex flex-col">
      <label for="tipoError" class="font-medium text-color mb-1">Tipo de error</label>
      <input id="tipoError" pInputText formControlName="tipoError" class="w-full" />
    </div>

    <div class="flex flex-col">
      <label for="modulo" class="font-medium text-color mb-1">Módulo afectado</label>
      <p-select id="modulo" [options]="opcionesModulo" optionLabel="label" formControlName="modulo"
        placeholder="Seleccione" class="w-full" />

    </div>

    <div class="flex flex-col md:col-span-2">
      <label for="descripcion" class="font-medium text-color mb-1">Descripción</label>
      <textarea id="descripcion" rows="5" pTextarea formControlName="descripcion" class="w-full"></textarea>
    </div>
  </div>

  <div class="mt-6 border border-surface p-5 rounded-md">
    <label class="block font-medium text-color mb-3">Archivos Adjuntos</label>
    <p-fileupload name="archivo[]" (onUpload)="onUpload($event)" [multiple]="true"
      maxFileSize="500000" mode="advanced"
      chooseLabel="Elegir" uploadLabel="Subir" cancelLabel="Cancelar">
      <ng-template #empty>
        <div>Arrastra y suelta los archivos aquí para subirlos.</div>
      </ng-template>
      <ng-template #content>
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">
            {{ file.name }} - {{ file.size / 1024 | number: '1.0-2' }} KB
          </li>
        </ul>
      </ng-template>
    </p-fileupload>
  </div>

  <div class="flex justify-end gap-3 pt-4">
    <p-button label="Borrar" severity="secondary" icon="pi pi-times" type="button" (click)="formulario.reset()" />
    <p-button label="Agregar" icon="pi pi-check" type="submit" (click)="agregarIncidencia()" />
  </div>
</form>
