<div class="min-h-screen bg-gray-50 flex items-center justify-center px-4">
  <!-- <div class="flex flex-col md:flex-row shadow-xl rounded-2xl max-w-6xl w-full bg-white overflow-hidden"> -->
  <div class="flex flex-col md:flex-row shadow-xl rounded-2xl max-w-6xl w-full h-[50vh] bg-white overflow-hidden">


    <!-- Lado Izquierdo -->
    <div
      class="w-full md:w-1/2 bg-white p-8 md:p-10 space-y-6 border-b md:border-b-0 md:border-r border-gray-200 flex flex-col justify-center">
      <div class="flex items-center gap-2 text-2xl font-semibold text-blue-700">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-8 w-8">
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-12h2v6h-2zm-4.22 4.22l1.42 1.42 2.83-2.83-1.42-1.42zm8.48 0l1.42 1.42-2.83 2.83-1.42-1.42z" />
        </svg>
        SLASH
      </div>

      <h2 class="text-xl font-medium text-gray-700 text-center">Bienvenido de nuevo</h2>
      <form (ngSubmit)="continuar()" class="space-y-4">
        <div class="text-left text-sm text-gray-500 mt-4">
          {{ mostrarPassword ? 'Ingresa tu contraseña' : 'Ingresa con tu usuario o correo' }}
        </div>


        <input *ngIf="!mostrarPassword" type="text" placeholder="Correo o usuario"
          class="w-full mt-2 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          [(ngModel)]="usuario" name="usuario" required />

        <input *ngIf="mostrarPassword" type="password" placeholder="Contraseña"
          class="w-full mt-2 px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          [ngClass]="{ 'border-red-500': error }" [(ngModel)]="contrasena" name="contrasena" required autofocus
          [disabled]="loading" />

        <div *ngIf="error" class="text-red-500 text-xs text-center animate-fade-in">{{ error }}</div>

        <button pButton class="w-full py-2 mt-2 rounded-md"
          [label]="mostrarPassword ? (loading ? 'Cargando...' : 'Iniciar sesión') : 'Continuar'" [disabled]="loading"
          [class.bg-blue-100]="!mostrarPassword" [class.text-blue-900]="!mostrarPassword"
          [class.bg-blue-600]="mostrarPassword" [class.text-white]="mostrarPassword" [class.opacity-60]="loading"
          [class.cursor-not-allowed]="loading"></button>
      </form>

      <div class="text-sm text-gray-500 text-center mt-4">
        ¿No tienes una cuenta?
        <a routerLink="/signup" class="text-blue-600 hover:underline">Crea una</a>
      </div>
      <div class="text-sm text-gray-500 text-center">
        ¿Tienes problemas para iniciar sesión?
        <a routerLink="/reset-password" class="text-blue-600 hover:underline">Recuperar contraseña</a>
      </div>
    </div>

    <!-- Lado Derecho -->
    <div class="w-full md:w-1/2 p-8 md:p-10 flex flex-col justify-between bg-gray-50">
      <div>
        <p class="mt-4 text-gray-600">Disminuye hasta en un <span class="font-semibold">35%</span> el tiempo dedicado a
          despliegues, resolución de errores y revisión de documentación con inteligencia artificial*</p>
      </div>
      <div class="text-xs text-gray-400 text-right mt-6">SlashWeb V1.1.0</div>
    </div>
  </div>
</div>
