<div class="border rounded-lg p-4 shadow-sm bg-white dark:bg-gray-800 ">
  <div class="font-bold text-xl mb-2 text-surface-900 dark:text-white">
    Seguridad y Control de Acceso
  </div>
  <div class="text-sm text-gray-500 mb-6">
    Configura los parámetros de seguridad y control de acceso al sistema
  </div>

  <component-togglesetting
    title="Autenticaciones por roles"
    description="Habilita o deshabilita la autenticación basada en roles"
    [(enabled)]="enabledRoles">
  </component-togglesetting>

  <component-selector-opciones
    label="Longitud mínima de contraseña"
    [options]="longitudes"
    [(selected)]="logitudSeleccionada"
    description="Define la longitud mínima requerida para las contraseñas">
  </component-selector-opciones>


  <component-togglesetting
    title="Caracteres especiales obligatorios"
    description="Requerir el uso de caracteres especiales en las contraseñas"
    [(enabled)]="enabledSpecialChars">
  </component-togglesetting>

  <component-togglesetting
    title="Restringir modificación de registros validados"
    description="Impide que se modifiquen los registros que ya han sido validados"
    [(enabled)]="enabledRestrictValidation">
  </component-togglesetting>
</div>
