  <section
    class="resultado-analisis bg-white w-full h-[76vh] max-h-[76vh] rounded-md p-9 flex justify-center items-center">
    <div class="flex flex-col items-center justify-center gap-2 text-gray-600">
      <svg width="152px" height="152px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M3 3L21 21M5 5V17.8C5 18.9201 5 19.4802 5.21799 19.908C5.40973 20.2843 5.71569 20.5903 6.09202 20.782C6.51984 21 7.07989 21 8.2 21H17C18.1046 21 19 20.1046 19 19M19 9L13 3M19 9H14.6C14.0399 9 13.7599 9 13.546 8.89101C13.3578 8.79513 13.2049 8.64215 13.109 8.45399C13 8.24008 13 7.96005 13 7.4V3M19 9V14M13 3H8.5"
            stroke="#3b82f6" stroke-width="1.176" stroke-linecap="round" stroke-linejoin="round"></path>
        </g>
      </svg>
      <p class="text-lg font-semibold">Aún no se ha realizado ningún análisis.</p>
      <p>Por favor, selecciona un proyecto y haz clic en “Cargar” para iniciar el análisis.</p>
    </div>
  </section>

