<div class="cargar-proyecto flex justify-between w-full">

  <div class="tipo-herramienta w-[25%]">
    <label class="block mb-2 text-surface-900 font-bold">Herramienta de análisis</label>
    <div
      class="bg-[var(--primary-color)]/20 w-[50%] rounded-md py-2 px-3 bg-white h-[39px] flex justify-center items-center cursor-pointer">
      <p class="text-[var(--primary-color)] font-semibold">Sonarqube</p>
    </div>
  </div>

  <div class="selector-proyecto w-[75%] flex justify-between items-center">
    <component-selector-opciones label="Proyecto" class="w-[80%]" placeholder="Seleccione un proyecto..." />
    <button (click)="realizarAnalisis()"
      class="border border-gray-300 px-5 rounded-lg text-white bg-[var(--primary-color)] h-[39px] w-[15%]">
      Cargar
    </button>
  </div>
</div>
